/*
 * Fonts
 */

$font-family-base: 'Lato';
$font-family-accent: 'BerlingskeSerif';
$line-height-base: 1.3;
$body-color: #333;

/*
 * Color
 */

$primary: #9bcb5d;
$secondary: #eb3535;

/*
 * Grid
 */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-columns: 12;
$grid-gutter-width: 30px;

$offset-widths: (
    xs: 20px,
);

$enable-grid-classes: false;