extends _base/_layouts/_default

block vars
	- page.title = 'Home'
	- page.bodyClass = 'is-home'

block content
	h1 Test

	.adv-list
		.adv-list__row
			.adv-list__item
				.item 123
			.adv-list__item
				.item 123

	.container.mt-5
		.row
			.col-lg-5.col-6.offset-lg-1
				.item 123
			.col-lg-5.col-6
				.item 123