extends _base/_layouts/_default

block vars
	- page.title = 'Home'
	- page.bodyClass = 'is-home'

block content
	h1 Test

	.adv-list
		.adv-list__row
			.adv-list__item
				.item 123
			.adv-list__item
				.item 123
			.adv-list__item
				.item 123
			.adv-list__item
				.item 123