extends _base/_layouts/_default

block vars
	- page.title = 'Home'
	- page.bodyClass = 'is-home'

block content
	.article-list
		.article-list__wrap
			.article-list__col
				.article-list__item
					h2.article-list__item-title Lorem ipsum dolor sit amet.
					.article-list__item-images
						picture
							source(srcset="assets/images/content/1.webp", type="image/webp")
							source(srcset="assets/images/content/1.jpg", type="image/jpg")
							img(src="assets/images/content/1.jpg")
					.article-list__item-text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!
			
			.article-list__col
				.article-list__item
					h2.article-list__item-title Lorem ipsum dolor sit amet.
					.article-list__item-images
						picture
							source(srcset="assets/images/content/2.webp", type="image/webp")
							source(srcset="assets/images/content/2.jpg", type="image/jpg")
							img(src="assets/images/content/2.jpg")
					.article-list__item-text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!

			.article-list__col
				.article-list__item
					h2.article-list__item-title Lorem ipsum dolor sit amet.
					.article-list__item-images
						picture
							source(srcset="assets/images/content/3.webp", type="image/webp")
							source(srcset="assets/images/content/3.jpg", type="image/jpg")
							img(src="assets/images/content/3.jpg")
					.article-list__item-text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!

			.article-list__col
				.article-list__item
					h2.article-list__item-title Lorem ipsum dolor sit amet.
					.article-list__item-images
						picture
							source(srcset="assets/images/content/4.webp", type="image/webp")
							source(srcset="assets/images/content/4.jpg", type="image/jpg")
							img(src="assets/images/content/4.jpg")
					.article-list__item-text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!

			.article-list__col
				.article-list__item
					h2.article-list__item-title Lorem ipsum dolor sit amet.
					.article-list__item-images
						picture
							source(srcset="assets/images/content/5.webp", type="image/webp")
							source(srcset="assets/images/content/5.jpg", type="image/jpg")
							img(src="assets/images/content/5.jpg")
					.article-list__item-text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!

			.article-list__col
				.article-list__item
					h2.article-list__item-title Lorem ipsum dolor sit amet.
					.article-list__item-images
						picture
							source(srcset="assets/images/content/6.webp", type="image/webp")
							source(srcset="assets/images/content/6.jpg", type="image/jpg")
							img(src="assets/images/content/6.jpg")
					.article-list__item-text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque neque labore vel reprehenderit! Ex laborum dicta culpa accusantium, corrupti provident praesentium, repellendus porro dolore iure, quos doloremque tempore amet eveniet!