.article-list{
	@include wrapper();
}

.article-list__wrap{
	@include row();
}

.article-list__col{
	@include col(6);
}

.article-list__item{

}

.article-list__item-title{

}

.article-list__item-images{
	height: 300px;
	overflow: hidden;
	img{
		display: block;
		width: 100%;
		max-height: 300px;
	}
}

.article-list__item-text{

}

.callBack{
	@include wrapper();
}